<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fileserver</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />

  <body>
    <h1><%=msg %></h1>
<form method="POST" action="/upload" enctype="multipart/form-data">
  <div>
      <label>Select multiple images:<br></label>
      <input type="file" name="fileUpload" multiple>
  </div>
  <div>
      <input type="submit" name="btn_upload_multiple_images" value="Upload" />
  </div>
</form>
  </body>
</html>
