<html>
  <head>
    <meta charset="UTF-8">
    <title>Fileserver</title>
    <link href= "/public/css/styles.css" rel="stylesheet" type="text/css" />    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <style>
      body{
            background-color: #1c1a32;
            color: white;
            font-family: 'Roboto', 'sans-serif';
            font-size: 28;
            line-height: 100%;
          }         
    </style>
  </head>

  <body>
    <h1><%=msg %></h1>
<form method="POST" action="/upload" enctype="multipart/form-data">
  <div>
      <label>Select multiple images:<br></label>
      <input type="file" name="fileUpload" multiple>
  </div>
  <div>
      <input type="submit" name="btn_upload_multiple_images" value="Upload" />
  </div>
</form>
<div>
  <form method="POST">
    
      <% if(fileData.length > 0) { %>
        
        <% fileData.forEach(fileData => { %>
          <div>
            <p>
              <input type="checkbox" name="<%= fileData.name %>">
              <%= fileData.name %>
            </p>
          </div>
        <%})%>
      <%}%>
    <button type="submit" formaction="/delete" onclick="return confirm('Are you sure you want to delete the selected files?');">Delete</button>
    <button type="submit" formaction="/download">Download selected</button>

</form>
</div>
</body>
</html>