.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 0.5em;
}
.inputField {
  background-color: #41494f;
  color: #fefefe;

  border: transparent;
}
.inputField::placeholder {
  color: #a3a3a3;
}

.inputField:focus {
  background-color: #41494f;
  color: #fefefe;
}

.formContainer {
  margin-top: 4em;
  background-color: "yellow";
  border: 1px solid #2a2f33;
  background-color: #2a2f33;
  padding: 2em;
  border-radius: 1em;
}

@media screen and (max-width: 475px) {
  .form {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .formContainer {
    margin-top: 4em;
    width: 45%;
    background-color: "yellow";
    border: 3px solid #2a2f33;
    background-color: #2a2f33;
    padding: 3em;
    border-radius: 1em;
  }
}
