<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet"> 
    <link href= "teststyle.css" rel="stylesheet" type="text/css" />

    <title>Test Fileserver</title>
  </head>

  <body>
    <div class="wrapper">
      <div class="h1wrapper">
        <h1>FileServerJS</h1>
      </div>
      <div>
        <form method="POST">
          
          <button type="submit" formaction="/upload">Upload</button>
          <button type="submit" formaction="/download">Download</button>
          <button type="submit" formaction="/delete" onclick="return confirm('Are you sure you want to delete the selected files? This action can NOT be undone!');">Delete</button>
          
        </form>
        <div>
          <table>
            <tr>
              <th>Filename</th>              
              <th>Filesize</th>
              <th>Uploaded</th>
            </tr>
            <tr>
              <td>
                <label  class="checkbox-container">
                  <input type="checkbox" name="<%= fileData.name %>">
                    testfile.mp4 
                </label>
              </td>
              <td>69 MB</td>
              <td>21/01/20</td>
            </tr>
            <tr>
              <td>
              <label for="" class="checkbox-container">
                <input type="checkbox" name="<%= fileData.name %>">
                <span class="checkbox"></span>
              </label>
                tarkovthumbnail.jpeg
              </td>
              <td>32 GB</td>
              <td>13/11/21</td>
            </tr>
          </table>
          </div>
      </div>
    </div>
</body>
</html>